extends ../layout/default
block main
    .panel.panel-default(ng-controller='list')
        .panel-heading
            .panel-title
                p Total Count : {{contacts.length}}
        .panel-body
            .table-responsive
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th
                                label Name
                                input(ng-model='search.name')
                            th
                                label Last Name
                                input(ng-model='search.lastName')
                            th
                                label Phone
                                input(ng-model='search.phone')
                    tbody
                        tr.table-striped(ng-repeat='contact in contacts |filter: search | limitTo:25')
                            td {{contact.name}}
                            td {{contact.lastName}}
                            td
                                p(ng-repeat='phone in filterArrays(contact)') {{phone}}
        .panel-footer
block append script
    script.
        cm.controller('list', function($scope, $http){
            $scope.contacts = !{JSON.stringify(contacts)}
            $scope.filterArrays = function(contact){
                contact.phone = [].concat(contact.phone).filter(onlyUnique)
                return contact.phone
            }
        });
