meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
link(rel='stylesheet', media='screen', href='/bower/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', media='screen', href='/bower/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', media='screen', href='/bower/alertify/themes/alertify.core.css')
link(rel='stylesheet', media='screen', href='/bower/alertify/themes/alertify.default.css')
link(rel='stylesheet', media='screen', href='/bower/nprogress/nprogress.css')
link(rel='stylesheet', media='screen', href='/css/cm.css')