script(type='text/javascript',src='/bower/jquery/dist/jquery.min.js')
script(type='text/javascript',src='/bower/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript',src='/bower/alertify/alertify.min.js')
script(type='text/javascript',src='/bower/nprogress/nprogress.js')
script(type='text/javascript',src='/bower/angular/angular.min.js')
script(type='text/javascript',src='/js/cm.js')